[user]
	name = Pedro Blázquez
	email = tordillos2@gmail.com

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	editor = cursor --wait
	excludesfile = ~/.gitignore_global
	pager = delta
	ui = en

[commit]
	template = ~/.stCommitMsg

[init]
	defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
